{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Roy-Tex | Login</title>
{% endblock %}
{% block body %}
<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Please Login or <a href="{% url 'signup' %}"> Sign up</a> here.</h2>
					<form action="{% url 'login' %}" method="post">
						{% if messages %}
							<ul class="messages">
							    {% for  message in messages %}
							    <b>{{messages}}</b>
							    {% endfor %}
							</ul>
						{% endif %}
						{% csrf_token %}
						<input type="text" name="username" id="" placeholder="Username">
						<input type="password" name="password" id="" placeholder="Password" />
						<span>
							<input type="checkbox" class="checkbox">
							Keep me signed in
						</span>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div>
				<!--/login form-->
			</div>
		</div>
</section>
<!--/form-->
{% endblock %}